<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/hotel">{{text.global.menu.hotel.title}}</a>
            »
            <a href="/hotel/furniture">{{text.global.menu.hotel.sub.furni}}</a>
            »
            {{text.hotel.furni.menu.catalogue4}}
        </div>
        <div id="page-headline-text">{{text.hotel.furni.menu.catalogue4}}</div>
    </div>

    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/hotel/furniSub}}
                {{>main/hotel/furniSide}}
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">

                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{{text.hotel.furni.catalogue4.box1.title}}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <p>
                                {{{text.hotel.furni.catalogue4.box1.content1}}}
                                <br></p><br><br><p></p><table width="100%" border="0">
                            <tbody><tr><td width="978">
                                {{{text.hotel.furni.catalogue4.box1.content2}}}
                                <br> </td>
                                <td><img id="galleryImage" alt="x-15" src="/images/hotel/x_15.gif" width="32" height="51" border="0"></td></tr>
                            </tbody></table><table width="100%" border="0"><tbody><tr><td width="975">
                            {{{text.hotel.furni.catalogue4.box1.content3}}}
                            <br> </td>
                            <td><p style="margin-top: 0pt; margin-bottom: 0pt;"><strong>
                                <img id="galleryImage12" src="/images/hotel/giant_heart.gif" alt="" width="66" height="70" border="0" align="right">
                            </strong></p></td></tr></tbody></table><table width="100%" border="0">
                            <tbody><tr><td width="978">
                                {{{text.hotel.furni.catalogue4.box1.content4}}}
                                <br> </td><td><p style="margin-top: 0pt; margin-bottom: 0pt;"><strong>
                                <img id="galleryImage13" src="/images/hotel/flameSkull.gif" alt="" width="37" height="65" border="0" align="right"></strong></p></td></tr></tbody></table><p></p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody></table>

    <br style="clear: both;">
</div>