<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/hotel">{{text.global.menu.hotel.title}}</a>
            »
            <a href="/hotel/furniture">{{text.global.menu.hotel.sub.furni}}</a>
            »
            {{text.hotel.furni.menu.catalogue}}
        </div>
        <div id="page-headline-text">{{text.hotel.furni.menu.catalogue}}</div>
    </div>

    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/hotel/furniSub}}
                {{>main/hotel/furniSide}}
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">

                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{{text.hotel.furni.catalogue.box1.title}}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <p>
                                {{{text.hotel.furni.catalogue.box1.content1}}}
                                <br><br></p>
                            <p><span style="font-weight: bold;"></span></p>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="991">
                                        {{{text.hotel.furni.catalogue.box1.content2}}}
                                        <br></td>
                                    <td><img id="galleryImage" alt="Throne (63)"
                                             src="/images/hotel/hc_chair_2.gif"
                                             width="63" height="91" border="0" align="right"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="1068">
                                        {{{text.hotel.furni.catalogue.box1.content3}}}
                                        <br></td>
                                    <td><p style="margin-top: 0pt; margin-bottom: 0pt;">
                                        <img id="galleryImage"
                                             alt="WF-11"
                                             src="/images/hotel/WF_11.gif"
                                             width="130" height="96"
                                             border="0" align="right">
                                    </p></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="994"><br>
                                        {{{text.hotel.furni.catalogue.box1.content4}}}
                                        <br></td>
                                    <td><p style="margin-top: 0pt; margin-bottom: 0pt;">
                                        <img id="galleryImage"
                                             alt="scam2"
                                             src="/images/hotel/scam2.gif"
                                             width="79" height="58"
                                             border="0" align="right">
                                    </p></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="994">
                                        {{{text.hotel.furni.catalogue.box1.content5}}}
                                        <br></td>
                                    <td>
                                        <img id="galleryImage0"
                                             src="/images/hotel/holodice.gif"
                                             alt="" width="51" height="65" border="0" align="right"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="996">
                                        {{{text.hotel.furni.catalogue.box1.content6}}}
                                        <br>
                                    </td>
                                    <td><p style="margin-top: 0pt; margin-bottom: 0pt;" align="center"><img
                                            id="galleryImage1"
                                            src="/images/hotel/habbo_pictureframe_small.gif"
                                            alt="" width="55" height="101" border="0" align="right"></p></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="997">
                                        {{{text.hotel.furni.catalogue.box1.content7}}}
                                        <br></td>
                                    <td><p style="margin-top: 0pt; margin-bottom: 0pt;">
                                        <img id="galleryImage"
                                             alt="doormat love"
                                             src="/images/hotel/doormat_love.gif"
                                             width="57" height="31"
                                             border="0" align="right">
                                    </p></td>
                                </tr>
                                </tbody>
                            </table>
                            <p></p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>

    <br style="clear: both;">
</div>