<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/credits">{{text.global.menu.credits.sub.credits}}</a>
        </div>
        <div id="page-headline-text">{{text.global.menu.credits.sub.credits}}</div>
    </div>
    <table class="content-section-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td colspan="5" style="height: 4px;"></td>
        </tr>
        <tr>
            <td rowspan="2" style="width: 8px;"></td>
            <td style="width: 740px;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td colspan="2" style="padding-bottom: 3px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 430px; height: 400px;" class="habboPage-col" valign="top" align="left">
                            <div class="portlet-scale gold">
                                <div class="portlet-scale-header"><h3>{{text.credits.credits.box1.title}}</h3>
                                </div>
                                <div class="portlet-scale-body">
                                    <div class="portlet-scale-content">
                                        <img src="/images/credits/paypal.jpg"
                                             id="galleryImage" alt="Internet Plus" width="56" height="42" border="0"
                                             align="right">
                                        <ul>
                                            <li>
                                                <a href="/credits/paypal">Paypal<br></a>
                                                {{{text.credits.credits.box1.content}}}
                                            </li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="portlet-scale-bottom">
                                    <div class="portlet-scale-bottom-body"></div>
                                </div>
                            </div>
                            <div class="portlet-scale gold">
                                <div class="portlet-scale-header"><h3>{{text.credits.credits.box2.title}}</h3></div>
                                <div class="portlet-scale-body">
                                    <div class="portlet-scale-content">
                                        <img id="galleryImage"
                                             src="/images/credits/coins_big.gif"
                                             alt="" width="110" height="103" border="0" align="right">
                                        {{{text.credits.credits.box2.content}}}
                                        <br>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="portlet-scale-bottom">
                                    <div class="portlet-scale-bottom-body"></div>
                                </div>
                            </div>
                        </td>
                        <td style="width: 310px; height: 400px;" class="habboPage-col rightmost" valign="top"
                            align="left">
                            <div class="nobox">
                                <div class="nobox-content">
                                    <div class="v2box brown darkest">
                                        <div class="headline"><h3>{{text.credits.credits.box3.title}}</h3></div>
                                        <div class="border">
                                            <div></div>
                                        </div>
                                        <div class="body">
                                            <p>
                                                {{{text.credits.credits.box3.content}}}
                                            </p>
                                            <div id="purse-redeem">
                                                <div>
                                                    {{>main/voucherCode}}
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="bottom">
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-scale gold">
                                <div class="portlet-scale-header"><h3>{{text.credits.credits.box4.title}}</h3></div>
                                <div class="portlet-scale-body">
                                    <div class="portlet-scale-content">
                                        <img alt="attention" id="galleryImage"
                                             src="/images/credits/attention.jpg"
                                             width="35" vspace="0" hspace="0" height="36" border="0" align="right">
                                        {{{text.credits.credits.box4.content}}}
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="portlet-scale-bottom">
                                    <div class="portlet-scale-bottom-body"></div>
                                </div>
                            </div>
                            <div class="portlet-scale gold">
                                <div class="portlet-scale-header"><h3>{{text.credits.credits.box5.title}}</h3></div>
                                <div class="portlet-scale-body">
                                    <div class="portlet-scale-content">
                                        {{{text.credits.credits.box5.content}}}
                                        <br>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="portlet-scale-bottom">
                                    <div class="portlet-scale-bottom-body"></div>
                                </div>
                            </div>
                            <div class="portlet-scale gold">
                                <div class="portlet-scale-header"><h3>{{text.credits.credits.box6.title}}</h3></div>
                                <div class="portlet-scale-body">
                                    <div class="portlet-scale-content">
                                        <img src="/images/credits/news_icon_01.gif"
                                             id="galleryImage" alt="" width="36" height="36" border="0" align="right">
                                        {{{text.credits.credits.box6.content}}}
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="portlet-scale-bottom">
                                    <div class="portlet-scale-bottom-body"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td rowspan="2" style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>
    <br style="clear: both;">
</div>