<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/club">{{text.global.menu.club.title}}</a>
            »
            {{text.global.menu.club.sub.habboClubFurni}}
        </div>
        <div id="page-headline-text">{{text.global.menu.club.sub.habboClubFurni}}</div>
    </div>

    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/club/subscribe}}
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.club.habboClubFurni.box1.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            {{{text.club.habboClubFurni.box1.content}}}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">

                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.club.habboClubFurni.box2.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <br>
                            <p>&nbsp;</p>
                            <p align="center">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                            </p>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216">
                                        <img src="/images/club/hc_greensofa.gif"
                                             id="galleryImage" alt="hc greensofa" width="113" height="85" border="0">
                                    </td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;"><b>&nbsp;</b></p>
                                        {{text.club.habboClubFurni.box2.text1}}
                                        <br></td>
                                </tr>
                                </tbody>
                            </table>
                            <p align="center">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                            </p>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216">
                                        <img alt="Plasto Möbel"
                                             src="/images/club/plasto_chair_A_7.gif"
                                             width="43" height="58" border="0">
                                        <img alt="Plasto Möbel"
                                             src="/images/club/plasto_chair_A_7.gif"
                                             width="43" height="58" border="0">
                                        <img alt="plasto chair A 7"
                                             src="/images/club/plasto_chair_A_7.gif"
                                             width="43" height="58" border="0">
                                        <img alt="Plasto Möbel"
                                             src="/images/club/plasto_chair_A_7.gif"
                                             width="43" height="58" border="0">
                                        <img alt="Plasto Möbel"
                                             src="/images/club/plasto_table_C_2.gif"
                                             width="113" height="84" border="0"></td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;"><b>&nbsp;</b></p>
                                        {{text.club.habboClubFurni.box2.text2}}
                                        <br></td>
                                </tr>
                                </tbody>
                            </table>

                            <p align="center">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                            </p>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216">
                                        <img alt="hc coffeemachine" id="galleryImage"
                                             src="/images/club/hc_coffeemachine.gif" width="66" height="137" border="0">
                                    </td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;"><b>&nbsp;</b></p>
                                        {{text.club.habboClubFurni.box2.text3}}
                                        <br></td>
                                </tr>
                                </tbody>
                            </table>
                            <p align="center">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                                <img alt="hc badge>" id="galleryImage" src="/images/club/hc_badge.gif" width="33"
                                     height="39" border="0">
                            </p>
                            <br>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216"><img
                                            src="/images/club/hc_BBQ.gif"
                                            id="galleryImage" alt="hc BBQ" width="60" height="75" border="0"> <img
                                            src="/images/club/hc_BBQ_closed.gif"
                                            id="galleryImage" alt="hc BBQ closed" width="56" height="79" border="0">
                                    </td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;"><b>&nbsp;</b></p>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;"><b> <b>&nbsp;</b></b></p>
                                        {{text.club.habboClubFurni.box2.text4}}
                                        <b><br></b></td>
                                </tr>
                                </tbody>
                            </table>
                            <p align="center">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                            </p>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216">
                                        <img src="/images/club/hc_bubblebath.gif"
                                             id="galleryImage" alt="hc bubblebath" width="106" height="93" border="0">
                                    </td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;"><b>&nbsp;</b></p>
                                        {{text.club.habboClubFurni.box2.text5}}
                                        <br></td>
                                </tr>
                                </tbody>
                            </table>
                            <p align="center">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                            </p>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216">
                                        <img src="/images/club/hc_teleportbooth.gif"
                                             id="galleryImage" alt="hc teleportbooth" width="71" height="148"
                                             border="0"> <img
                                            src="/images/club/hc_teleportbooth.gif"
                                            id="galleryImage" alt="hc teleportbooth" width="71" height="148" border="0">
                                    </td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;"><b>&nbsp;</b></p>
                                        {{text.club.habboClubFurni.box2.text6}}
                                        <br></td>
                                </tr>
                                </tbody>
                            </table>
                            <p align="center">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                            </p>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216">
                                        <img src="/images/club/hc_sofa.gif"
                                             id="galleryImage" alt="hc sofa" width="105" height="85" border="0"></td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;"><b>&nbsp;</b></p>
                                        {{text.club.habboClubFurni.box2.text7}}
                                        <br></td>
                                </tr>
                                </tbody>
                            </table>
                            <p align="center">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                            </p>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216">
                                        <img alt="hc oillamp" id="galleryImage"
                                             src="/images/club/hc_oillamp.gif"
                                             width="41" height="90" border="0"></td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;"><b>&nbsp;</b></p>
                                        {{text.club.habboClubFurni.box2.text8}}
                                        <br></td>
                                </tr>
                                </tbody>
                            </table>
                            <p align="center">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                            </p>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216">
                                        <img src="/images/club/hc_table.gif"
                                             id="galleryImage" alt="hc table" width="119" height="94" border="0"></td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;"><b>&nbsp;</b></p>
                                        {{text.club.habboClubFurni.box2.text9}}
                                        <br></td>
                                </tr>
                                </tbody>
                            </table>
                            <p align="center">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                            </p>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216">
                                        <img src="/images/club/hc_chair.gif"
                                             id="galleryImage" alt="hc chair" width="47" height="66" border="0"></td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;"><b>&nbsp;</b></p>
                                        {{text.club.habboClubFurni.box2.text10}}
                                        <br></td>
                                </tr>
                                </tbody>
                            </table>
                            <p align="center">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                            </p>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216">
                                        <img src="/images/club/Writing_desk_closed.gif"
                                             id="galleryImage" alt="Writing desk closed" width="87" height="106"
                                             border="0"> <img
                                            src="/images/club/Writing_desk_open.gif"
                                            id="galleryImage" alt="Writing desk open" width="93" height="126"
                                            border="0"></td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;"><b>&nbsp;</b></p>
                                        {{text.club.habboClubFurni.box2.text11}}
                                        <br></td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <p align="center">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0">
                                <img src="/images/club/hc_badge.gif" id="galleryImage" alt="hc badge>" width="33"
                                     height="39" border="0"></p>
                            <table width="100%" border="0">
                                <tbody></tbody>
                            </table>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>

    <br style="clear: both;">
</div>