<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/club">{{text.global.menu.club.title}}</a>
            »
            {{text.global.menu.club.sub.joinHabboClub}}
        </div>
        <div id="page-headline-text">{{text.global.menu.club.sub.joinHabboClub}}</div>
    </div>
    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/club/side}}
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{{text.club.joinHabboClub.box1.title}}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <p><span style="font-weight: bold;"><img alt="clubtitle" src="/images/club/clubtitle.gif"
                                                                     width="450" hspace="0" height="75" border="0"
                                                                     align="middle"></span></p>
                            <p><span style="font-weight: bold;"></span>
                                {{{text.club.joinHabboClub.box1.content1}}}
                            </p>
                            <p>
                                <img src="/images/club/hcclick.gif"
                                     alt="" hspace="0" border="0" align="right">
                                {{{text.club.joinHabboClub.box1.content2}}}
                                <br>
                                <img alt="habbo HC 1"
                                     src="/images/club/habbo_HC_1.gif"
                                     width="69" hspace="0"
                                     height="87" border="0"
                                     align="right"><br></p>
                            <ul>
                                <li>
                                    {{{text.club.joinHabboClub.box1.content3}}}
                                    <br></li>
                                <li>
                                    {{{text.club.joinHabboClub.box1.content4}}}
                                </li>
                                <li>
                                    {{{text.club.joinHabboClub.box1.content5}}}
                                </li>
                            </ul>
                            <img src="/images/club/Instructions_HCpurchase.gif"
                                 id="galleryImage" alt="Instructions HCpurchase" width="255" height="200" border="0"
                                 align="left"><br><br><br><br><br><span style="font-weight: bold;">
                            {{{text.club.joinHabboClub.box1.content6}}}
                        </span><br><br><br>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>
    <br style="clear: both;">
</div>