<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/hotel">{{text.global.menu.hotel.title}}</a>
            »
            <a href="/hotel/welcome_to_habbo_hotel">{{text.global.menu.hotel.sub.welcome}}</a>
            »
            {{text.hotel.welcome.menu.howToGetStarted}}
        </div>
        <div id="page-headline-text">{{text.hotel.welcome.menu.howToGetStarted}}</div>
    </div>
    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/hotel/welcomeSub}}
                {{>main/hotel/welcomeSide}}
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.hotel.welcome.howToGetStarted.box1.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <p align="left">
                                {{{text.hotel.welcome.howToGetStarted.box1.text1}}}
                            </p>
                            <br>
                            <p>
                                <img src="/images/hotel/1_G.gif" hspace="5" align="left">
                                {{{text.hotel.welcome.howToGetStarted.box1.text2}}}
                            </p>
                            <br><br>
                            <p>
                                <img src="/images/hotel/2_G.gif" hspace="5" align="left">
                                {{{text.hotel.welcome.howToGetStarted.box1.text3}}}
                                <br>
                            </p>
                            <br><br><br>
                            <img src="/images/hotel/3_G1.gif" hspace="5"align="left">
                            {{{text.hotel.welcome.howToGetStarted.box1.text4}}}
                            <br><br><br>
                            <p>
                                <img src="/images/hotel/4_G.gif" hspace="5" align="left">
                                {{text.hotel.welcome.howToGetStarted.box1.text5}}
                                <br>
                            </p>
                            <br><br>
                            <p>
                                {{{text.hotel.welcome.howToGetStarted.box1.text6}}}
                                <br>
                            </p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>
    <br style="clear: both;">
</div>