<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/credits">{{text.global.menu.credits.title}}</a>
            »
            {{text.global.menu.credits.sub.useMyCredits}}
        </div>
        <div id="page-headline-text">{{text.global.menu.credits.sub.useMyCredits}}</div>
    </div>
    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.credits.credits.box4.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <img src="/images/credits/attention.jpg" id="galleryImage" alt="attention" width="35"
                                 vspace="0" hspace="0" height="36" border="0" align="absmiddle">
                            {{{text.credits.credits.box4.content}}}
                            <br>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.credits.useMyCredits.box1.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <img src="/images/credits/hc_badge.gif" alt="" width="33" height="39" border="0"
                                 align="right">
                            {{{text.credits.useMyCredits.box1.content}}}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.credits.useMyCredits.box2.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <img src="/images/credits/Bushy_woofer_small.gif"
                                 id="galleryImage" alt="" width="38" height="33" border="0" align="right">
                            {{{text.credits.useMyCredits.box2.content}}}
                            <br>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.credits.useMyCredits.box3.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <img id="galleryImage"
                                 src="/images/credits/podium_4.gif"
                                 alt="" width="67" height="60" border="0" align="right">
                            {{{text.credits.useMyCredits.box3.content}}}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.credits.useMyCredits.box4.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            {{{text.credits.useMyCredits.box4.content}}}
                            <br><br><a target="_blank"
                                href="/images/credits/room_20credits.gif">
                            {{text.credits.useMyCredits.box4.text1}}
                            <img alt="thumb 20credits" id="galleryImage"
                                              src="/images/credits/thumb_20credits.gif"
                                              width="186" vspace="0" hspace="0" height="126" border="0"
                                              align="absmiddle"></a><br><br><br><br><a target="_blank"
                                href="/images/credits/room_30credits.gif">
                            {{text.credits.useMyCredits.box4.text2}}
                            <img
                                    src="/images/credits/thumb_30credits.gif"
                                    id="galleryImage" alt="thumb 30credits" width="186" vspace="0" hspace="0"
                                    height="126" border="0" align="absmiddle"></a><br><br><br><br><br><a target="_blank"
                                href="/images/credits/room_50credits.gif">
                            {{text.credits.useMyCredits.box4.text3}}
                            <img
                                    src="/images/credits/thumb_50credits.gif"
                                    id="galleryImage" alt="thumb 50credits" width="186" vspace="0" hspace="0"
                                    height="126" border="0" align="absmiddle"></a>

                            <br><br><br><br><br><br><a target="_blank"
                                href="/images/credits/room_100credits.gif">
                            {{text.credits.useMyCredits.box4.text4}}
                            <img
                                    src="/images/credits/thumb_100credits.gif"
                                    id="galleryImage" alt="thumb 100credits" width="186" vspace="0" hspace="0"
                                    height="126" border="0" align="absmiddle">
                        </a>
                            <br><br><a target="_blank"
                                href="/images/credits/room_200credits.gif">
                            {{text.credits.useMyCredits.box4.text5}}
                            <img
                                    src="/images/credits/thumb_200credits.gif"
                                    id="galleryImage" alt="thumb 200credits" width="186" vspace="0" hspace="0"
                                    height="126" border="0" align="absmiddle"></a>

                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>
    <br style="clear: both;">
</div>