<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            {{text.global.menu.club.sub.club}}
        </div>
        <div id="page-headline-text">{{text.global.menu.club.sub.club}}</div>
    </div>
    <table class="content-section-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td colspan="5" style="height: 4px;"></td>
        </tr>
        <tr>
            <td rowspan="2" style="width: 8px;"></td>
            <td style="width: 740px;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td style="width: 430px; height: 400px;" class="habboPage-col" valign="top" align="left">
                            {{>main/club/subscribe}}
                            <div class="portlet-scale gold">
                                <div class="portlet-scale-header"><h3>{{text.club.club.box1.title}}</h3></div>
                                <div class="portlet-scale-body">
                                    <div class="portlet-scale-content">
                                        <img src="/images/club/coins_big.gif"
                                             alt="" hspace="0" border="0" align="right">
                                        {{{text.club.club.box1.content}}}
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="portlet-scale-bottom">
                                    <div class="portlet-scale-bottom-body"></div>
                                </div>
                            </div>
                        </td>
                        <td style="width: 310px; height: 400px;" class="habboPage-col rightmost" valign="top"
                            align="left">
                            <div class="portlet-scale gold">
                                <div class="portlet-scale-header"><h3>{{text.club.club.box2.title}}</h3></div>
                                <div class="portlet-scale-body">
                                    <div class="portlet-scale-content">
                                        <p>
                                            {{{text.club.club.box2.content1}}}
                                            <img src="/images/club/habbo_HC_3.gif"
                                                       alt="habbo HC 3" width="71" hspace="0" height="95" border="0"
                                                       align="right"><br><br>
                                            {{{text.club.club.box2.content2}}}
                                        </p>
                                        <a href="/club/habbo_club_benefits">
                                            {{{text.club.club.box2.link1}}}
                                        </a>
                                        <p></p>
                                        <pre><br></pre>
                                        <p><br></p>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="portlet-scale-bottom">
                                    <div class="portlet-scale-bottom-body"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td rowspan="2" style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>
    <br style="clear: both;">
</div>