<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a> » {{text.global.menu.hotel.sub.hotel}}
        </div>
        <div id="page-headline-text">{{text.global.menu.hotel.sub.hotel}}</div>
    </div>
    <table class="content-home" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
            <td colspan="6" style="height: 4px;"></td>
        </tr>
        <tr>
            <td rowspan="2" style="width: 8px;">&nbsp;</td>
            <td style="width: 740px;" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td style="width: 215px; height: 400px;" class="habboPage-col" valign="top">

                            <div class="v2box red light">
                                <div class="headline">
                                    <h3>{{text.hotel.box1.title}}</h3>
                                </div>
                                <div class="border">
                                    <div></div>
                                </div>
                                <div class="body">
                                    <img src="/images/hotel/alt_1.gif">
                                    <br>{{text.hotel.box1.content1}}<br>
                                    <img src="/images/hotel/alt_2.gif">
                                    <br><br>{{text.hotel.box1.content2}}<br><br><br>
                                    <img src="/images/hotel/3_G.gif">
                                    <br><br>{{text.hotel.box1.content3}}<br><br>
                                    <img src="/images/hotel/home4.gif">
                                    <br>{{text.hotel.box1.content4}}<br><br>
                                    <div class="clear"></div>
                                </div>
                                <div class="bottom">
                                    <div></div>
                                </div>
                            </div>

                        </td>

                        <td style="width: 215px; height: 400px;" class="habboPage-col" valign="top">

                            <div class="v2box green light">
                                <div class="headline">
                                    <h3>{{text.hotel.box2.title}}</h3>
                                </div>
                                <div class="border">
                                    <div></div>
                                </div>
                                <div class="body">
                                    {{text.hotel.box2.content1}}<br><br>
                                    <table id="table1" border="0">
                                        <tbody>
                                        <tr>
                                            <td><span style="font-weight: bold;"> {{text.hotel.box2.content2}}</span><br>{{text.hotel.box2.content3}}<br><br></td>
                                            <td><span style="font-weight: bold;"><img src="/images/hotel/news_icon_02.gif" align="right"></span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-weight: bold;"> {{text.hotel.box2.content4}}</span><br>{{text.hotel.box2.content5}}<br><br></td>
                                            <td><span style="font-weight: bold;"><img
                                                    src="/images/hotel/news_icon_03.gif" alt="" vspace="5" hspace="5"
                                                    border="0" align="right"></span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-weight: bold;"> {{text.hotel.box2.content6}}</span><br>{{text.hotel.box2.content7}}<br><br></td>
                                            <td><span style="font-weight: bold;"><img
                                                    src="/images/hotel/navigator_icon.png" alt="" vspace="5" hspace="5"
                                                    border="0" align="right"></span></td>
                                        </tr>
                                        <tr>
                                            <td><span style="font-weight: bold;">{{text.hotel.box2.content8}}</span><br>{{text.hotel.box2.content9}}<br><br></td>
                                            <td><span style="font-weight: bold;"><img src="/images/hotel/hvimage6.gif" vspace="5" hspace="5" align="right"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>{{text.hotel.box2.content10}}</b><br>{{text.hotel.box2.content11}}<br><br></td>
                                            <td><a href="/help/faqs/4"><img src="/images/hotel/news_icon_01.gif" align="right"></a></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div class="clear"></div>
                                </div>
                                <div class="bottom">
                                    <div></div>
                                </div>
                            </div>

                            <div class="v2box green light">
                                <div class="headline">
                                    <h3>{{text.hotel.box3.title}}</h3>
                                </div>
                                <div class="border">
                                    <div></div>
                                </div>
                                <div class="body">
                                    <a target="_blank" href="/help/faqs/7">
                                        <img src="/images/hotel/hc_badge.gif" width="33" vspace="5" hspace="10"
                                             height="39" align="right">
                                    </a>
                                    {{{text.hotel.box3.content}}}
                                    <br>
                                    <div class="clear"></div>
                                </div>
                                <div class="bottom">
                                    <div></div>
                                </div>
                            </div>

                            <div class="v2box green light">
                                <div class="headline">
                                    <h3>{{text.hotel.box4.title}}</h3>
                                </div>
                                <div class="border">
                                    <div></div>
                                </div>
                                <div class="body">
                                    {{{text.hotel.box4.content}}}
                                    <br>
                                    <div class="clear"></div>
                                </div>
                                <div class="bottom">
                                    <div></div>
                                </div>
                            </div>

                        </td>


                        <td style="width: 310px; height: 400px;" class="habboPage-col rightmost" valign="top">

                            <div class="v2box blue light">
                                <div class="headline">
                                    <h3>{{text.hotel.box5.title}}</h3>
                                </div>
                                <div class="border">
                                    <div></div>
                                </div>
                                <div class="body">

                                    <p>
                                    </p>
                                    <table id="table2" width="100%" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" bgcolor="#9dd1e7" align="left"><img
                                                    src="/images/hotel/welcome_icon.png" alt="" vspace="5" hspace="10"
                                                    border="0" align="bottom"></td>
                                            <td valign="top" bgcolor="#9dd1e7" align="left">{{{text.hotel.box5.content1}}}<br>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" bgcolor="#e6efef" align="left"><img
                                                    src="/images/hotel/lido_icon.png" alt="" vspace="5" hspace="10"
                                                    border="0"></td>
                                            <td valign="top" bgcolor="#e6efef" align="left">{{{text.hotel.box5.content2}}}<br>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" bgcolor="#9dd1e7" align="left"><img
                                                    src="/images/hotel/bb_redicon.png" alt="" vspace="5" hspace="10"
                                                    border="0"></td>
                                            <td valign="top" bgcolor="#9dd1e7" align="left">{{{text.hotel.box5.content3}}}<br>
                                                <br>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p></p><br>
                                    <div class="clear"></div>
                                </div>
                                <div class="bottom">
                                    <div></div>
                                </div>
                            </div>

                            <div class="v2box blue light">
                                <div class="headline">
                                    <h3>{{text.hotel.box6.title}}</h3>
                                </div>
                                <div class="border">
                                    <div></div>
                                </div>
                                <div class="body">

                                    <img src="/images/hotel/group.gif" alt="" bz0revpwf="" vspace="5" hspace="10"
                                         border="0" align="right">
                                    {{{text.hotel.box6.content}}}
                                    <br><br>

                                    <div class="clear"></div>
                                </div>
                                <div class="bottom">
                                    <div></div>
                                </div>
                            </div>

                        </td>

                    </tr>
                    </tbody>
                </table>
            </td>
            <td rowspan="2" style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>
    <br style="clear: both;"/>
</div>