<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            {{text.preferences.title}}
        </div>
        <div id="page-headline-text">{{text.preferences.title}}</div>
    </div>

    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/preferences/sub}}
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">

                <div class="v2box blue light">
                    <div class="headline"><h3>{{text.preferences.menu.preferences}}</h3></div>
                    <div class="border">
                        <div></div>
                    </div>
                    <div class="body">
                        <h4>{{text.preferences.preferences.changeMotto}}</h4>
                        {{#if successMotto}}
                            <div style="display:block;margin-bottom:10px;">
                                <div class="content-ok">
                                    <div class="content-ok-body">
                                        {{text.preferences.preferences.successMotto}}
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="content-ok-bottom">
                                    <div class="content-ok-bottom-body"></div>
                                </div>
                            </div>
                        {{/if}}
                        <form id="mottoForm" action="/preferences/changeMotto" method="post">
                            <input type="text" name="motto" value="{{user.motto}}" style="width:250px;"/>
                            <a href="javascript:document.querySelector('#mottoForm').submit()" class="colorlink orange"><span>{{text.preferences.preferences.change}}</span></a>
                            <input type="submit" style="display:none"/>
                        </form>
                        <h4 style="margin-top: 20px;">{{text.preferences.preferences.changePassword}}</h4>
                        {{#if successPassword}}
                            <div style="display:block;margin-bottom:10px;">
                                <div class="content-ok">
                                    <div class="content-ok-body">
                                        {{text.preferences.preferences.successPassword}}
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="content-ok-bottom">
                                    <div class="content-ok-bottom-body"></div>
                                </div>
                            </div>
                        {{/if}}
                        {{#if errorPassword}}
                            <div style="display:block;margin-bottom:10px;">
                                <div class="content-red">
                                    <div class="content-red-body">
                                        {{#ifCond errorPassword '==' 1}}
                                            {{text.preferences.preferences.passwordLength}}
                                        {{/ifCond}}
                                        {{#ifCond errorPassword '==' 2}}
                                            {{text.preferences.preferences.passwordNotSame}}
                                        {{/ifCond}}
                                        {{#ifCond errorPassword '==' 3}}
                                            {{text.preferences.preferences.passwordIncorrect}}
                                        {{/ifCond}}
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="content-red-bottom">
                                    <div class="content-red-bottom-body"></div>
                                </div>
                            </div>
                        {{/if}}
                        <form id="passwordForm" action="/preferences/changePassword" method="post">
                            {{text.preferences.preferences.actualPassword}} :<br/><input type="password" name="actualPassword"
                                                             style="width:250px;"/><br/><br/>
                            {{text.preferences.preferences.newPassword}} :<br/><input type="password" name="newPassword"
                                                              style="width:250px;"/><br/><br/>
                            {{text.preferences.preferences.repeat}} :<br/><input type="password" name="newPasswordRepeat"
                                                                         style="width:250px;"/>
                            <a href="javascript:document.querySelector('#passwordForm').submit()"
                               class="colorlink orange"><span>{{text.preferences.preferences.change}}</span></a>
                            <input type="submit" style="display:none"/>
                        </form>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>
    <br style="clear: both;">
</div>