<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/hotel">{{text.global.menu.hotel.title}}</a>
            »
            <a href="/hotel/furniture">{{text.global.menu.hotel.sub.furni}}</a>
            »
            {{text.hotel.furni.menu.catalogue2}}
        </div>
        <div id="page-headline-text">{{text.hotel.furni.menu.catalogue2}}</div>
    </div>

    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/hotel/furniSub}}
                {{>main/hotel/furniSide}}
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">

                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{{text.hotel.furni.catalogue2.box1.title}}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            {{{text.hotel.furni.catalogue2.box1.content1}}}
                            <br><br>
                            <p><img id="galleryImage" src="/images/hotel/trophy_17.gif" alt="" width="44" height="108" border="0" align="right">
                                {{{text.hotel.furni.catalogue2.box1.content2}}}
                                <br>
                            </p><p><br>
                            <img id="galleryImage" src="/images/hotel/holodice.gif" alt="" width="51" height="65" border="0" align="right">
                            {{{text.hotel.furni.catalogue2.box1.content3}}}
                            <br>
                            <br>
                            <img id="galleryImage" src="/images/hotel/iced_item_8.gif" alt="" width="49" height="55" border="0" align="right">
                            {{{text.hotel.furni.catalogue2.box1.content4}}}
                            <br><br>
                            <img id="galleryImage" src="/images/hotel/lert.gif" alt="" width="49" height="55" border="0" align="right">
                            {{{text.hotel.furni.catalogue2.box1.content5}}}
                            <br><br><br>
                            <img id="galleryImage" src="/images/hotel/roller_aqua.gif" alt="" width="64" height="40" border="0" align="right">
                            {{{text.hotel.furni.catalogue2.box1.content6}}}
                            <br><br>
                            <img id="galleryImage" src="/images/hotel/Stickies.png" alt="" width="37" height="33" border="0" align="right">
                            {{{text.hotel.furni.catalogue2.box1.content7}}}
                            <br><br>
                            <img id="galleryImage" src="/images/hotel/explore_telesmall1.gif" alt="" width="19" height="32" border="0" align="right">
                            <img id="galleryImage" src="/images/hotel/explore_telesmall2.gif" alt="" width="19" height="32" border="0" align="right">
                            <img id="galleryImage" src="/images/hotel/explore_telesmall3.gif" alt="" width="19" height="32" border="0" align="right">
                            {{{text.hotel.furni.catalogue2.box1.content8}}}
                            <br></p><p></p><p><br></p><p><br></p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody></table>

    <br style="clear: both;">
</div>