<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/hotel">{{text.global.menu.hotel.title}}</a>
            »
            <a href="/hotel/furniture">{{text.global.menu.hotel.sub.furni}}</a>
            »
            {{text.hotel.furni.menu.staffFavourite}}
        </div>
        <div id="page-headline-text">{{text.hotel.furni.menu.staffFavourite}}</div>
    </div>

    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/hotel/furniSub}}
                {{>main/hotel/furniSide}}
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">
                <div class="content-white-outer">
                    <div class="content-white">
                        <div class="content-white-body">
                            <div class="content-white-content"><img
                                    src="/images/hotel/habbos_and_furni_250.gif"
                                    id="galleryImage" alt="Habbos and furni (250)" width="258" height="258" border="0"
                                    align="right"><br><br><br><br><br>
                                {{{text.hotel.furni.staffFavourite.box1.content}}}
                                <br>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="content-white-bottom">
                        <div class="content-white-bottom-body"></div>
                    </div>
                </div>
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.hotel.furni.staffFavourite.box2.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <p align="center"><img
                                    src="/images/hotel/mode_item_1.gif"
                                    alt=""><img
                                    src="/images/hotel/bubblejuicemachine.gif"
                                    alt=""><img
                                    src="/images/hotel/Paws_forethought.gif"
                                    id="galleryImage" alt="Paws forethought" width="76" height="66" border="0"><img
                                    src="/images/hotel/bathroom_bathtub.gif"
                                    alt="">
                            </p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.hotel.furni.staffFavourite.box3.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <p align="center"><img
                                    src="/images/hotel/trophy_17.gif"
                                    alt=""><img
                                    src="/images/hotel/kynttilat.gif"
                                    alt=""><img
                                    src="/images/hotel/edit_furni_lamp_rel9.gif"
                                    alt=""><img
                                    src="/images/hotel/ulkovessa.gif"
                                    alt="">
                            </p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.hotel.furni.staffFavourite.box4.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <p align="center"><img
                                    src="/images/hotel/yukka.gif"
                                    alt=""><img
                                    src="/images/hotel/bunny.gif"
                                    alt=""><img
                                    src="/images/hotel/Sleepy_siamese.gif"
                                    alt=""><img
                                    src="/images/hotel/ankka.gif"
                                    alt=""></p>

                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.hotel.furni.staffFavourite.box5.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <p align="center"><img
                                    src="/images/hotel/blueBear.gif"
                                    alt=""><img
                                    src="/images/hotel/bunny.gif"
                                    alt=""><img
                                    src="/images/hotel/rares_gardenpatch.gif"
                                    alt=""><img
                                    src="/images/hotel/rares_thing_2_blue.gif"
                                    alt=""></p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.hotel.furni.staffFavourite.box6.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <p align="center"><img
                                    src="/images/hotel/plasto_chair_C_2.gif"
                                    alt=""> <img
                                    src="/images/hotel/digitv.gif"
                                    alt=""> <img
                                    src="/images/hotel/rares_gardenpatch.gif"
                                    alt=""><img
                                    src="/images/hotel/hc_bubblebath.gif"
                                    alt=""></p>

                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.hotel.furni.staffFavourite.box7.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <p align="center"><img
                                    src="/images/hotel/polar_bear_pink.gif"
                                    alt=""><img
                                    src="/images/hotel/hc_bubblebath.gif"
                                    alt=""><img
                                    src="/images/hotel/scifirocket_black.gif"
                                    alt=""><img
                                    src="/images/hotel/plants_5.gif"
                                    alt=""></p>

                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>

    <br style="clear: both;">
</div>