{{>main/club/subscribe}}
<div class="portlet-scale gold">
    <div class="portlet-scale-header"><h3>{{text.club.side.box1.title}}</h3></div>
    <div class="portlet-scale-body">
        <div class="portlet-scale-content">
            <img src="/images/club/podium_4.gif"
                 id="galleryImage" alt="" width="67" height="60" border="0" align="right">
            {{{text.club.side.box1.content}}}
            <div class="clear"></div>
        </div>
    </div>
    <div class="portlet-scale-bottom">
        <div class="portlet-scale-bottom-body"></div>
    </div>
</div>
<div class="portlet-scale gold">
    <div class="portlet-scale-header"><h3>{{text.club.side.box2.title}}</h3></div>
    <div class="portlet-scale-body">
        <div class="portlet-scale-content">
            <img id="galleryImage"
                 src="/images/club/Bushy_woofer_small.gif"
                 alt="" width="38" height="33" border="0" align="right">
            {{{text.club.side.box2.content}}}
            <div class="clear"></div>
        </div>
    </div>
    <div class="portlet-scale-bottom">
        <div class="portlet-scale-bottom-body"></div>
    </div>
</div>
<div class="portlet-scale gold">
    <div class="portlet-scale-header"><h3>{{text.club.side.box3.title}}</h3></div>
    <div class="portlet-scale-body">
        <div class="portlet-scale-content">
            <img src="/images/club/coins_big.gif"
                 alt="" hspace="0" border="0" align="right">
            {{{text.club.side.box3.content}}}
            <div class="clear"></div>
        </div>
    </div>
    <div class="portlet-scale-bottom">
        <div class="portlet-scale-bottom-body"></div>
    </div>
</div>