<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            {{text.preferences.title}}
        </div>
        <div id="page-headline-text">{{text.preferences.title}}</div>
    </div>

    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/preferences/sub}}
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">

                <div class="v2box blue light">
                    <div class="headline"><h3>{{text.preferences.views.title}}</h3></div>
                    <div class="border">
                        <div></div>
                    </div>
                    <div class="body">

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.at}}</h4>
                            <img src="/images/showcase/hotel-views/at.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.au}}</h4>
                            <img src="/images/showcase/hotel-views/au.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.br}}</h4>
                            <img src="/images/showcase/hotel-views/br.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.ca}}</h4>
                            <img src="/images/showcase/hotel-views/ca.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.ch}}</h4>
                            <img src="/images/showcase/hotel-views/ch.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.cn}}</h4>
                            <img src="/images/showcase/hotel-views/cn.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.de}}</h4>
                            <img src="/images/showcase/hotel-views/de.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.dk}}</h4>
                            <img src="/images/showcase/hotel-views/dk.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.es}}</h4>
                            <img src="/images/showcase/hotel-views/es.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.fi}}</h4>
                            <img src="/images/showcase/hotel-views/fi.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.fr}}</h4>
                            <img src="/images/showcase/hotel-views/fr.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.it}}</h4>
                            <img src="/images/showcase/hotel-views/it.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.jp}}</h4>
                            <img src="/images/showcase/hotel-views/jp.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.nl}}</h4>
                            <img src="/images/showcase/hotel-views/nl.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.no}}</h4>
                            <img src="/images/showcase/hotel-views/no.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.pl}}</h4>
                            <img src="/images/showcase/hotel-views/pl.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.ru}}</h4>
                            <img src="/images/showcase/hotel-views/ru.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.se}}</h4>
                            <img src="/images/showcase/hotel-views/se.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.sg}}</h4>
                            <img src="/images/showcase/hotel-views/sg.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.uk}}</h4>
                            <img src="/images/showcase/hotel-views/uk.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.us}}</h4>
                            <img src="/images/showcase/hotel-views/us.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.beta}}</h4>
                            <img src="/images/showcase/hotel-views/beta.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.aa}}</h4>
                            <img src="/images/showcase/hotel-views/aa.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.cyberpunk}}</h4>
                            <img src="/images/showcase/hotel-views/cyberpunk.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.greek}}</h4>
                            <img src="/images/showcase/hotel-views/greek.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.medieval}}</h4>
                            <img src="/images/showcase/hotel-views/medieval.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.new_year}}</h4>
                            <img src="/images/showcase/hotel-views/new_year.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.summer}}</h4>
                            <img src="/images/showcase/hotel-views/summer.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.ak}}</h4>
                            <img src="/images/showcase/hotel-views/ak.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.xmas1}}</h4>
                            <img src="/images/showcase/hotel-views/xmas1.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.xmas2}}</h4>
                            <img src="/images/showcase/hotel-views/xmas2.png" width="80%">
                        </div>

                        <div style="text-align: center"><br><br>
                            <h4>{{text.preferences.view.wed1}}</h4>
                            <img src="/images/showcase/hotel-views/wed1.png" width="80%">
                        </div>

                        <div class="clear"></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>
    <br style="clear: both;">
</div>