<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/hotel">{{text.global.menu.hotel.title}}</a>
            »
            <a href="/hotel/pets">{{text.global.menu.hotel.sub.pets}}</a>
            »
            {{text.hotel.pets.menu.takingCareOfYourPet}}
        </div>
        <div id="page-headline-text">{{text.hotel.pets.menu.takingCareOfYourPet}}</div>
    </div>

    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/hotel/petsSub}}
                {{>main/hotel/petsSide}}
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">

                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{{text.hotel.pets.takingCareOfYourPet.box1.title}}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <img src="/images/hotel/Habbo_and_animals_small.gif" id="galleryImage" alt="Habbo and animals small" width="146" height="135" border="0" align="right">
                            <b>{{{text.hotel.pets.takingCareOfYourPet.box1.content1}}}</b>
                            <p>
                                {{{text.hotel.pets.takingCareOfYourPet.box1.content2}}}
                            </p> <p>
                            {{{text.hotel.pets.takingCareOfYourPet.box1.content3}}}
                            <br>
                        </p>
                            <p>
                                {{{text.hotel.pets.takingCareOfYourPet.box1.content4}}}
                            </p>
                            <p><b>
                                {{{text.hotel.pets.takingCareOfYourPet.box1.content5}}}
                        </b></p><p>
                            {{{text.hotel.pets.takingCareOfYourPet.box1.content6}}}
                        </p><p>
                            {{{text.hotel.pets.takingCareOfYourPet.box1.content7}}}
                        </p> <p>
                            {{{text.hotel.pets.takingCareOfYourPet.box1.content8}}}
                        </p>
                            <p>
                                {{{text.hotel.pets.takingCareOfYourPet.box1.content9}}}
                                <br>
                            </p>
                            <p>
                                {{{text.hotel.pets.takingCareOfYourPet.box1.content10}}}
                            </p><p>
                            {{{text.hotel.pets.takingCareOfYourPet.box1.content11}}}
                        </p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody></table>

    <br style="clear: both;">
</div>