<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/hotel">{{text.global.menu.hotel.title}}</a>
            »
            {{text.global.menu.hotel.sub.furni}}
        </div>
        <div id="page-headline-text">{{text.global.menu.hotel.sub.furni}}</div>
    </div>

    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/hotel/furniSub}}
                {{>main/hotel/furniSide}}
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">

                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.hotel.furni.box1.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <img src="/images/hotel/choice_newsie.gif" id="galleryImage" alt="" width="99" height="118"
                                 border="0" align="right">
                            {{{text.hotel.furni.box1.content1}}}
                            {{{text.hotel.furni.box1.content2}}}
                            <br><br>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>
    <br style="clear: both;">
</div>