<select name="month" id="month" class="dateselector">
    <option value="">--</option>
    <option value="1">{{text.global.months.january}}</option>
    <option value="2">{{text.global.months.february}}</option>
    <option value="3">{{text.global.months.march}}</option>
    <option value="4">{{text.global.months.april}}</option>
    <option value="5">{{text.global.months.may}}</option>
    <option value="6">{{text.global.months.june}}</option>
    <option value="7">{{text.global.months.july}}</option>
    <option value="8">{{text.global.months.august}}</option>
    <option value="9">{{text.global.months.september}}</option>
    <option value="10">{{text.global.months.october}}</option>
    <option value="11">{{text.global.months.november}}</option>
    <option value="12">{{text.global.months.december}}</option>
</select>