<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/club">{{text.global.menu.club.title}}</a>
            »
            {{text.global.menu.club.sub.habboClubBenefits}}
        </div>
        <div id="page-headline-text">{{text.global.menu.club.sub.habboClubBenefits}}</div>
    </div>
    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/club/side}}
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">

                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{{text.club.habboClubBenefits.box1.title}}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <p><span style="font-weight: bold;"><img alt="clubtitle"
                                                                     src="/images/club/clubtitle.gif"
                                                                     width="450" hspace="0" height="75" border="0"
                                                                     align="middle"></span></p>
                            <p><b>
                                {{{text.club.habboClubBenefits.box1.content1}}}
                            </b>
                                <br><br><span
                                    style="font-weight: bold;"></span><br>
                                {{{text.club.habboClubBenefits.box1.content2}}}
                                <br><br><span style="font-weight: bold;">
                                    <img id="galleryImage"
                                         src="/images/club/hc_badge.gif"
                                         alt="" width="33"
                                         height="39" border="0"
                                         align="right"></span>
                                {{{text.club.habboClubBenefits.box1.content3}}}
                                <span
                                        style="font-weight: bold;"><br><br><span style="font-weight: bold;"><img
                                        id="galleryImage"
                                        src="/images/club/trance_dance_dancers.gif"
                                        alt="" width="76" height="95" border="0" align="right"></span></span>
                                {{{text.club.habboClubBenefits.box1.content4}}}
                                <br><span style="font-weight: bold;"></span></p>
                            <p><br><span style="font-weight: bold;">&nbsp;</span></p>
                            <img
                                    src="/images/club/habbo_HC_4.gif"
                                    alt="" width="69" height="84" border="0" align="right">
                            <p>
                                {{{text.club.habboClubBenefits.box1.content5}}}
                            </p>
                            <p>
                                {{{text.club.habboClubBenefits.box1.content6}}}
                                <br></p>
                            <p><img
                                    id="galleryImage"
                                    src="/images/club/clubmammoth_icon.png"
                                    alt="" width="57" height="67" border="0" align="right">
                                {{{text.club.habboClubBenefits.box1.content7}}}
                            <br><img
                                id="galleryImage"
                                src="/images/club/hc_chair.gif"
                                alt="" width="47" height="66" border="0" align="right">
                                {{{text.club.habboClubBenefits.box1.content8}}}
                            <br><br><br>
                            <img id="galleryImage"
                                                             src="/images/club/LekoShout_Right1.gif"
                                                             alt="" width="59"
                                                             height="87" border="0"
                                                             align="right">
                                {{{text.club.habboClubBenefits.box1.content9}}}
                            <br><br style="font-weight: bold;"><span
                                style="font-weight: bold;">&nbsp;</span><br>
                            <pre><br></pre>
                            <br>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>

    <br style="clear: both;">
</div>