<div class="portlet-scale gold">
    <div class="portlet-scale-header"><h3>{{text.hotel.furni.side.box1.title}}</h3></div>
    <div class="portlet-scale-body">
        <div class="portlet-scale-content">
            <img src="/images/hotel/mgm_icon.gif" alt="" align="right">
            {{{text.hotel.furni.side.box1.content}}}
            <div class="clear"></div>
        </div>
    </div>
    <div class="portlet-scale-bottom">
        <div class="portlet-scale-bottom-body"></div>
    </div>
</div>
<div class="portlet-scale gold">
    <div class="portlet-scale-header"><h3>{{text.hotel.furni.side.box2.title}}</h3></div>
    <div class="portlet-scale-body">
        <div class="portlet-scale-content">
            <img id="galleryImage" src="/images/hotel/Bushy_woofer_small.gif" alt="" width="38" height="33" border="0" align="right">
            {{{text.hotel.furni.side.box2.content}}}
            <br>
            <div class="clear"></div>
        </div>
    </div>
    <div class="portlet-scale-bottom">
        <div class="portlet-scale-bottom-body"></div>
    </div>
</div>
<div class="portlet-scale gold">
    <div class="portlet-scale-header"><h3>{{text.hotel.furni.side.box3.title}}</h3></div>
    <div class="portlet-scale-body">
        <div class="portlet-scale-content">
            <p>
                <img src="/images/hotel/hc_badge.gif" alt="" width="33" height="39" border="0" align="right">
                {{{text.hotel.furni.side.box3.content}}}
                <br>
            </p>
            <div class="clear"></div>
        </div>
    </div>
    <div class="portlet-scale-bottom">
        <div class="portlet-scale-bottom-body"></div>
    </div>
</div>